@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* scroll bar properties  */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: black;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb:hover{
    background: red;
    border-radius: 10px;
    height: 10px;
}
/* header  */
header{
    background-color: black;
    height: 5vh;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    list-style: none;
}
ul a{
    text-decoration: none;
    color: white;
}
ul a li{
    cursor: pointer;
    padding: 5px;
}
ul a li:hover{
    text-decoration:overline;
}

/* zero - contact section through mail  */
.zero{
    display: flex;
    justify-content: center;
    visibility: hidden; 
    width: 99vw;
    height: 95vh;
    position: absolute;
}
.zero .contact{
    z-index: 1;
    width: 90vw;
    height: 90vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}
.contact h1,.contact h3{
    text-align: center;
}
.form{
    display: grid;
    justify-content: center;
    gap: 20px;
}
.form-buttons input{
    outline: none;
    border: none;
}
/* main  */
main{
    background: url(/Media/bg/modern-futuristic-sci-fi-background.jpg) ;
    background-size: 100vw 95vh;
    background-repeat: no-repeat;
    height: 95vh;
    overflow-y: auto;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 99vw;
    height: 95vh;
}
#rjimg{
    z-index: 1;
    width: 300px;
    height: 300px;
}
.top-of-eachother{
    position: absolute;
}
.text{
    color: white;
}
.white-line{
    background-color: white;
    height: 30vh;
    width: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

/* second  */
.second{
    width: 99vw;
    height: fit-content;
    background-color: black;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.language-cards,.design-cards{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
}
.card{
    height: 206px;
    width: 180px;
    background: white;
    border-radius: 10px;
    margin: 20px;
}
.card h3{
    text-align: center;
}
.card .img-box img{
    height: 170px;
    width: 180px;
}
.img-box{
    display: flex;
    justify-content: center;
}
.card:hover{
    height: 220px;
    width: 230px;
    box-shadow: 10px 10px 5px cyan;
}
.design-head,.dev-head{
    background: white;
    color: black;
    margin: 5px;
    text-align: center;
    text-shadow: -2px -1px 5px black;
}
@media screen and (max-width:768px){
    .second{
        height: fit-content;
    }
    .card{
        height: 206px;
        width: 180px;
        background: white;
        border-radius: 10px;
        margin: 10px;
    }    
    .card .img-box img{
        height: 170px;
        width: 180px;
    }
}

/* third - project related part  */
.third{
    width: 99vw;
    height: fit-content;
    background-color: transparent;
}
.third-main{
    width: 99vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third h1,.second h1{
    color: white;
    text-align: center;
    font-size: 5rem;
    text-decoration: overline;
    padding: 20px;
}
.third-main .project-card{
    width: 70vw;
    height: 50px;
    background-color: white;
    margin: 5px;
}



/* footer  */
footer{
    background-color: black;
    height: 30vh;
    display: flex;
    align-items: center;
    bottom: 0;
}
.contact-info{
    color: white;    
    font-size: 16px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-info h4,a{
    font-family: 'Roboto Mono', monospace;
}
.mail a{
    color: white;
    text-decoration: none;
}
.sites a img{
    width: 25px;
}
.copyright{
    text-align: left;
    font-size: 13px;
    font-weight: 100;
    padding-top: 10px;
}
@media screen and (max-width:768px){
    .contact-info{
        font-size: 10px;
    }
}