/* responsiveness upto screen width 500 */
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}
body{
    background: #E1ECC8 no-repeat;
    border: 2px solid #A2CDB0;
}

/* Property to center the items */
.makecenter{
    display: flex;
    justify-content: center;
}


/* LOGO */
.outcircle{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: black;
}
.inncircle{
    height: 28px;
    width: 28px;
    border-radius: 10vw;
    background-color: white;
}
.logo{
    margin: 10px;
}
.logo:hover{
    .inncircle{
        background-color: black;
    }
    .outcircle{
        background-color: white;
    }
}


/* Navigation bar */
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.bar{
    width: 100%;
}
nav ul{
    /* background: linear-gradient(to right,#64CCC5,#DAFFFB,#64CCC5); */
    background-color: #A2CDB0;
    display: flex;
    position: sticky;
    list-style-type: none;
    border-radius: 10px;
    padding: 0;  /* this is giving helping to remove extra space on left of home */
}
nav ul li{
    color: black;
    margin: 0px 15px;
}
nav ul a{
    text-decoration: none;
}
nav ul li:hover{
    color: white;
    font-size: 17px;
}

/* name and image for raj */
.name_raj{
    color: black;
    font-size: 5vw;
}
.name_raj h1{
    margin: 0px;
}
.image_raj{
    display: flex;
}


/* Image for raj */
.circle{
    height: 23vw;
    width: 23vw;
    border-radius: 14vw;
    background-color: white;

    border: 2px solid black;
}
#lside{
    height: 23vw;
    width: 23vw;
    position: relative;
}
#rside{
    height: 23vw;
    width: 23vw;
    /* margin-top: 20px; */
    position: relative;
}


/* info */
.info_raj{
    position: relative;
    word-wrap: break-word;
    font-size: 2vw;
}
.r1{
    color: violet;
}
#transition-container{
    /* position: ; */
    color: violet;
    display: flex;
    align-items: center;
}

